.DS_Store
node_modules*
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
/server/logic/cachedFonts
.env
npm-debug.log
.tscache
tscommand-
/tmp
/fonts
# Cache directories
cache/
# or if you want to be more specific
cache/variants/